@font-face {
    font-family: 'sf-pro-display';
    src: url(font/sf-pro-display_semibold.woff2) format('woff2');
}

* {
    margin: 0;
    font-family: 'sf-pro-display';
}

body {
    margin: 0;
    overflow-x: hidden;
}

.home {
    height: 100vh;
    width: 100%;
    background: #858585;
    overflow: hidden;
}

.video-container {
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    z-index: 10;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 5rem;
}

nav>ul>a {
    text-decoration: none;
    color: white;
}

nav>img {
    width: 10rem;
    margin-left: 3rem;
}

.gridbelow {
    width: 100%;
    background: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.gridbelow>.item {
    background: rgb(0, 0, 0);
    position: relative;
}

.video-overlay {
    z-index: 500;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    position: absolute;
    padding: 0;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-overlay>h1 {
    color: white;
}

@media screen and (max-width: 600px) {
    .gridbelow {
        grid-template-columns: 1fr;
    }
}