* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.home {
    height: 100vh;
    width: 100%;
    background: #858585;
    overflow: hidden;
}

.video-container {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 9999;
    background-color: transparent;
    transition: background-color 500ms ease-in-out;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 5rem;
}

nav>ul>a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>ul>a>.active {
    color: #74BB0D;
    font-weight: 400;
}

nav>ul>a::after {
    content: "";
    align-self: center;
    margin-left: 1rem;
    width: 0.4rem;
    height: 0.4rem;
    background: #74BB0D;
    border-radius: 100px;
}

nav>ul>a:nth-child(5):after {
    display: none;
}

nav>img {
    width: 13rem;
    margin-left: 3rem;
}

.gridbelow {
    width: 100%;
    background: #74BB0D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.gridbelow>.item {
    background: #74BB0D;
    position: relative;
    height: 100%;
}

.video-overlay {
    z-index: 500;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    position: absolute;
    padding: 0;
    opacity: 1;
    transition: all 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.video-overlay>h1 {
    color: white;
    transition: all 250ms ease-in-out;
    pointer-events: none;
}

.video-overlay>h2 {
    color: white;
    transition: all 250ms ease-in-out;
    pointer-events: none;
    font-weight: 300;
}

.video-overlay:hover {
    background: none;
}

.footer {
    width: 100%;
    background: #74BB0D;
}

.footer>p {
    color: white;
    font-weight: 400;
    padding: 1rem;
}

.gridbelow-2 {
    width: 100%;
    background: #74BB0D;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: -4px;
}

.gridbelow-2>.item {
    background: #74BB0D;
    position: relative;
    height: auto;
}

.gridbelow-3 {
    width: 100%;
    background: #74BB0D;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: -4px;
}

.gridbelow-4 {
    width: 100%;
    background: #74BB0D;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.gridbelow-3>.item {
    background: #74BB0D;
    position: relative;
    height: auto;
}

.gridbelow-3>.item>img {
    width: 100%;
    display: block;
}

.conocenos-text-right {
    background-color: white!important;
    padding: 6rem 4rem 6rem 4rem;
}

.conocenos-text-right>p {
    font-size: 1.2rem;
}

.conocenos-text-left {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
}

.conocenos-text-left>div>h2 {
    font-weight: 300;
    margin-bottom: 2rem;
}

.conocenos-text-left>div>h1 {
    margin-top: 2rem;
}

.mf-text-right {
    background-color: white!important;
    padding: 6rem 4rem 6rem 4rem;
}

.mf-text-right>p {
    font-size: 1.2rem;
}

.mf-text-left {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
}

.mf-text-left>div>h2 {
    font-weight: 300;
    margin-bottom: 2rem;
}

.mf-text-left>div>h1 {
    margin-top: 2rem;
}

.text-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.text-right>p {
    color: white;
}

.banner-contacto {
    background-position: center;
    background-size: cover;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-contacto>p {
    color: white;
}

.gridcontacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridcontacto>.item {
    border: 1px rgb(194, 194, 194);
    border-style: none solid solid none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}

.gridcontacto>.item>h3 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridcontacto>.item>h3::after {
    content: "";
    width: 5rem;
    height: 2px;
    background: #74BB0D;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.burguer {
    display: none;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #74BB0D;
    opacity: 100%;
    transition: all 500ms;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-loader {
    width: 10rem;
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.banner-below {
    width: 100%;
}

.banner-below>img {
    width: 100%;
    display: block;
}

.covervid-video {
    display: block;
}

.mf-image {
    background-image: url(img/mercado-fresco2.jpg);
    background-size: cover;
    overflow-x: hidden;
}

.mf-image>img {
    transition: transform 250ms ease-in-out;
}

.gridbelow-4>.item>video {
    width: 100%;
}

.gridbelow-3>.item>video {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .gridbelow {
        grid-template-columns: 1fr;
    }
    .gridbelow-2 {
        grid-template-columns: 1fr;
    }
    .gridcontacto {
        display: grid;
        grid-template-columns: 1fr;
    }
    nav {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        flex-direction: column;
        background: #ffffff;
        padding-top: 5rem;
    }
    nav>ul {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding: 0;
        margin-top: 3rem;
        margin-bottom: 2rem;
        align-items: flex-start;
        width: 90%;
    }
    nav>img {
        display: none;
    }
    nav>ul>a::after {
        display: none;
    }
    nav>ul>a {
        width: 100%;
    }
    nav>ul>a>li {
        font-size: 1.3rem;
        text-align: left;
        width: 100%;
    }
    .burguer {
        display: flex;
        z-index: 999999;
        transform: translateZ(99px);
        position: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .burguer>i {
        padding: 1rem;
        cursor: pointer;
    }
    .burguer>img {
        width: 10rem;
        margin-left: 1rem;
    }
    #nav {
        display: none;
    }
    .gridbelow-3 {
        grid-template-columns: 1fr;
    }
    .gridbelow-4 {
        grid-template-columns: 1fr;
    }
    .gridbelow-4>.item>video {
        width: 100vw;
    }
    .gridbelow-3>.item>video {
        width: 100vw;
    }
    .gridbelow-4>.inverse {
        order: 1;
    }
    .conocenos-text-left {
        padding: 6rem 4rem 6rem 4rem;
        align-items: flex-start;
    }
    .mf-text-left {
        padding: 6rem 4rem 6rem 4rem;
        align-items: flex-start;
    }
}

@media screen and (max-width: 1100px) and (orientation: landscape) {
    nav {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        flex-direction: column;
        background: #ffffff;
        padding-top: 5rem;
    }
    nav>ul {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding: 0;
        margin-top: 3rem;
        margin-bottom: 2rem;
        align-items: flex-start;
        width: 90%;
    }
    nav>img {
        display: none;
    }
    nav>ul>a::after {
        display: none;
    }
    nav>ul>a {
        width: 100%;
    }
    nav>ul>a>li {
        font-size: 1.3rem;
        text-align: left;
        width: 100%;
    }
    .burguer {
        display: flex;
        z-index: 999999;
        transform: translateZ(99px);
        position: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .burguer>i {
        padding: 1rem;
        cursor: pointer;
    }
    .burguer>img {
        width: 10rem;
        margin-left: 1rem;
    }
    #nav {
        display: none;
    }
}