* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.home {
    height: 100vh;
    width: 100%;
    background: #858585;
    overflow: hidden;
}

.video-container {
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 9999;
    background-color: transparent;
    transition: background-color 500ms ease-in-out;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 5rem;
}

nav>ul>a {
    text-decoration: none;
    color: white;
}

nav>img {
    width: 10rem;
    margin-left: 3rem;
}

.gridbelow {
    width: 100%;
    background: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.gridbelow>.item {
    background: rgb(0, 0, 0);
    position: relative;
}

.video-overlay {
    z-index: 500;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    position: absolute;
    padding: 0;
    opacity: 1;
    transition: all 250ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-overlay>h1 {
    color: white;
    transition: all 250ms ease-in-out;
}

.video-overlay:hover {
    background: none;
}

.video-overlay:hover>h1 {
    color: #74BB0D;
}

.home-overlay {
    position: absolute;
    z-index: 10;
    background: url(img/pixel.png);
}

@media screen and (max-width: 600px) {
    .gridbelow {
        grid-template-columns: 1fr;
    }
}